# Text classificaton

## Import pkgs

In [83]:
import pandas as pd
import os

# print every ouput
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import data

In [84]:
# change the current wd 
os.chdir('/home/jae/scraping_slsv')

In [85]:
# check the current wd
os.getcwd()

'/home/jae/scraping_slsv'

In [86]:
df = pd.read_csv("./processed_data/text4class.csv")

In [87]:
# the number of rows 
df.shape[0]

1977

In [88]:
# no null in the name field
filtered_df = df[df['name'].notnull()]

In [89]:
filtered_df.shape[0]

1975

In [90]:
filtered_df.head()

,name,text,type
0,nazareth college,voter education voter turnout voter registrati...,accountability
1,nazareth college,voter education voter turnout voter registrati...,learning
2,nazareth college,voter education voter turnout voter registrati...,strategic_capacity
4,alfred,tricia debertolis alfred university 1 saxon dr...,NaN
5,allegany college,allegany college one campus plan increase v...,accountability

## wrangle data

In [91]:
# add row id 

filtered_df["id"] = filtered_df.index + 1

In [92]:
filtered_df.head()

,name,text,type,id
0,nazareth college,voter education voter turnout voter registrati...,accountability,1
1,nazareth college,voter education voter turnout voter registrati...,learning,2
2,nazareth college,voter education voter turnout voter registrati...,strategic_capacity,3
4,alfred,tricia debertolis alfred university 1 saxon dr...,NaN,5
5,allegany college,allegany college one campus plan increase v...,accountability,6

In [93]:
# rearrange columns 
cols = filtered_df.columns.tolist()
cols = cols[-1:] + cols[:-1]

filtered_df = filtered_df[cols]

In [94]:
acc_df = filtered_df[(filtered_df['type'] == 'accountability') | (filtered_df['type'].isnull())]

In [95]:
learn_df = filtered_df[(filtered_df['type'] == 'learning') | (filtered_df['type'].isnull())]

In [96]:
sc_df = filtered_df[(filtered_df['type'] == 'strategic_capacity') | (filtered_df['type'].isnull())]

In [97]:
acc_df['type'].value_counts(dropna = False)
learn_df['type'].value_counts(dropna = False)
sc_df['type'].value_counts(dropna = False)

NaN               844
accountability    377
Name: type, dtype: int64

NaN         844
learning    377
Name: type, dtype: int64

NaN                   844
strategic_capacity    377
Name: type, dtype: int64